<div class="page">
    <!-- Images -->
    <img
        *ngIf="!isApproved"
        src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGY1czEwZDRmdWcwN2VlbmllZTNvd2xrMGxvd3lnd3lmYjB5MXAzNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/gjHkRHSuHqu99y9Yjt/giphy.gif"
        alt="Orso ballerino"
        class="page-img" />

    <img
        *ngIf="isApproved"
        src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY255dHlvNzNyZnVxMTRic3k3MGdhN2MzeXp6eGVmZHMyYTl6YnVidCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wPnbkEcr2tXiTN0Lmq/giphy.gif"
        alt="Orso ballerino"
        class="page-img" />

    <!-- Text -->
    <span *ngIf="!isApproved" class="heading">Hello my Love!</span>
    <span *ngIf="!isApproved" class="subheading">Would you be my Valentine?</span>
    <span *ngIf="isApproved" class="heading">I knew you would say yes!</span>

    <!-- Buttons -->
    <div class="btn-container" *ngIf="!isApproved">
        <div>
            <app-button
                [scale]="scale"
                [btnClass]="'yes-wrapper'"
                [message]="yesMessage"
                (buttonClick)="yes()"></app-button>
        </div>
        <div>
            <app-button
                [btnClass]="'no-wrapper'"
                [message]="noMessages[index]"
                (buttonClick)="nextMessage()"></app-button>
        </div>
    </div>
</div>
